.btn1{
  background-color: #ebde53;
  width: 400px;
  height: 60px;
  font-size: 35px;
  border-radius: 15px;
}
.btn2{
  background-color: #ebde53;
  width: 400px;
  height: 60px;
  font-size: 35px;
  border-radius: 15px;
}
body{
  background-image: linear-gradient(blue , red);
  background-repeat: no-repeat;
  height:97vh;
}
.box{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.compo1{
 background-image: linear-gradient(rgb(119, 119, 240) , rgb(194, 164, 164));
  width: 500px;
  height: 300px;
  display: inline-block;
  /* margin: 50px; */
  border-radius: 20px;
  text-align: center;
}
.box1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content:space-around;
  gap: 60px;
  margin-top: 60px;

 }  
.text{
  color: chartreuse;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
